/*Fonts*/
@font-face {
  font-family: 'old-english';
  src: url('../fonts/oldeenglish-webfont.eot');
  src: url('../fonts/oldeenglish-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oldeenglish-webfont.woff') format('woff'), url('../fonts/oldeenglish-webfont.ttf') format('truetype'), url('../fonts/oldeenglish-webfont.svg#olde_englishregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
#main-nav {
  font-size: 2em;
  font-family: 'Wellfleet';
}
#bio .album img {
  margin-top: 50px;
}
h1 {
  margin-bottom: 80px;
  font-family: 'Wellfleet';
}
.oe {
  font-family: "old-english";
}
body {
  padding-top: 50px;
  color: #dfdfdf;
  background-color: #111111;
  background-image: url(../img/tileable-texture-bricks-orig.png);
  font-family: "Lato";
}
#content {
  background-color: #111111;
  box-shadow: 0 0 5px 5px #000;
}
#content > .row {
  margin-top: 150px;
}
#header {
  font-family: "old-english";
  font-size: 150px;
  letter-spacing: 10px;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}
#spectral {
  width: 500px;
  height: 400px;
}
#shows ul {
  color: #111111;
}
#shows .gradient-bg {
  position: relative;
  height: auto;
  top: 0;
  background: none;
}
#shows h3 {
  color: #dfdfdf;
  margin: 0;
}
#shows.minimized #shows-widget {
  height: 300px;
  overflow: hidden;
}
#shows.minimized h3 {
  color: #111111;
}
#shows.minimized .gradient-bg {
  height: 100px;
  top: -100px;
  margin-bottom: -100px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  /* IE6-9 */
}
#shows-widget {
  height: auto;
}
.fancy {
  background: #333333;
  box-shadow: 0 0 5px 5px #000;
  margin: 20px;
  padding: 0 30px;
}
.fancy > div {
  margin-top: 30px;
  margin-bottom: 30px;
}
.center-img {
  margin: 0 auto;
}
.source {
  color: #999999;
}
.contact-img {
  height: 200px;
  width: 200px;
  margin-top: 30px;
  padding: 20px;
}
.thumbnail {
  background-color: #dfdfdf;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .contact-img {
    height: 100px;
    width: 100px;
  }
}
/* Large devices (large desktops, 1200px and up) */
